
body {
    font-family: 'Arial', sans-serif;
    background-color: #050a14;
    color: #ffffff;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}

#titulo-principal {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #d1d8ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.conteiner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}


.cartao {
    background-color: #111827;
    border: 2px solid #1f2937;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}


.cartao:hover {
    transform: scale(1.05); 
    border-color: #6366f1; 
    box-shadow: 0 0 20px rgba(99, 102, 241, 0.4);
}


.cartao img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.corpo-cartao {
    padding: 25px;
    text-align: left;
}

.titulo-constelacao {
    color: #818cf8;
    margin: 0 0 15px 0;
    font-size: 1.5rem;
}

.descricao {
    font-size: 0.9rem;
    color: #9ca3af;
    line-height: 1.6;
    margin: 0;
}